###> symfony/framework-bundle ###
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
.phpunit.cache
###< phpunit/phpunit ###

.vscode/
/build/
bin/*
!bin/*.sh
